@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Playwrite+MX:wght@100..400&display=swap');

.logo {
     font-family: "Playwrite MX", cursive;
}

.custom-modal-content {
     width: 700px;
     max-width: 100%;
}